doctype html
html
  head
    title= 'title'
    meta(id="fb-app-id" property="fb:app_id" content="1809907029339544")
    meta(id="og-url" property="og:url"  name="twitter:url" content= url)
    meta(id="og-title" property="og:title" name="twitter:title" content= title)
    meta(id ="og-description" property="og:description" name="twitter:description" content= description)
    meta(id ="og-image" property="og:image" content= imageUrl)
    meta(id="og-type" property="og:type" content="product")
    meta(name="twitter:card" content=description)
  body
    h1= title
    img(src= imageUrl alt= title)
    p= description
    p= url
